<p id="notice"><%= notice %></p>

<h1> <%= Reservation.model_name.human(count: 2) %> </h1>

<%= @reservations.show_all %>

<%= action_button(nil, button_class: 'btn btn-warning', text: 'Generar Reserva', path: new_reservation_path) %>


