<div class="container">
  <h3>Efectivo</h3>
  <div class="row form-inputs">

    <div class="col-sm">
      <%= f.input :amount %>
    </div>

    <div class="col-sm">
      <%= f.input :deposit_number %>
    </div>

    <div class="col-sm align-self-end form-group">
    </div>
  </div>
</div>



