<div class="col">
  <h3>Efectivo</h3>
  <table class="display table table-condensed table-responsive">
    <thead>
    <tr>
      <th><%= CashPayment.human_attribute_name(:amount) %> </th>

    </thead>
    <tbody>
    <% cash_payments.each do |r| %>
      <tr>
        <td>$<%= r.amount %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>