<br>

<h3>Efectivo</h3>
<table class="display table table-condensed table-responsive">
  <thead>
  <tr>
    <th><%= CashPayment.human_attribute_name(:amount) %> </th>
    <th><%= CashPayment.human_attribute_name(:deposit_number) %> </th>

  </thead>
  <tbody>
  <% cash_payments.each do |r| %>
    <tr>
      <td>$<%= r.amount %></td>
      <td align="center"><%= r.deposit_number%></td>
    </tr>
  <% end %>
  </tbody>
</table>