<div class="container">
  <h3>Cheque</h3>
  <div class="row form-inputs">

    <div class="col-sm">
      <%= f.input :amount %>
    </div>

    <div class="col-sm">
      <%= f.input :code %>
    </div>

    <div class="col-sm align-self-end form-group">
    </div>
  </div>
  <div class="row form-inputs">
    <div class="col-sm">
      <%= f.input :bank %>
    </div>

    <div class="col-sm">
    </div>

    <div class="col-sm">
    </div>
  </div>
</div>
