<p id="notice"><%= notice %></p>

<%= @car.decorate.pretty_show %>

<div class="row">
  <div class="col-md-1">
    <%= action_button(@car, text: t('sell'), path: new_sale_path(car_id: @car.id)) %>
  </div>
  <div class="col-md-1">
    <%= link_to (t 'back'), cars_path, class: 'btn btn-danger' %>
  </div>
</div>
