<!-- Footer -->
<footer class="footer py-2 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; CAEF <%= Time.current.year %></p>
  </div>
  <!-- /.container -->
</footer>